<% content_for(:html_title) { 'CTD CAFE | イベント'} %>
<%= stylesheet_link_tag "events", :media => "all" %>
<link href="/assets/aos.css" rel="stylesheet">

<div id="home">
        <header class="page-header wrapper">
            <h1 data-aos="fade-right" data-aos-delay="300" data-aos-duration="3000">
                <a href="/boards">
                    <img class="logo" src="/assets/cafe_logo.png" alt="ロゴ">
                    <span class="logo_title">CTD CAFE</span>
                </a>
            </h1>
            <nav data-aos="fade-left" data-aos-delay="300" data-aos-duration="3000">
                <ul class="main-nav">
                    <li><a class="button" href="/boards">Home</a></li>
                    <li><%= link_to 'NEWS', boards_path(anchor: 'News'), class: 'button' %></li>
                    <li><%= link_to 'MENU', boards_path(anchor: 'Menu'), class: 'button' %></li>
                    <li><%= link_to 'CONTACT', boards_path(anchor: 'Contact'), class: 'button' %></li>
		    <% if logged_in? %>
                    <li>
                      <%= link_to "Out", '/login', method: :delete, class: 'button' %>
                    </li>
                    <% end %>
                </ul>
            </nav>
        </header>
    </div>

    <div class="introduction-contents wrapper">
        <article>
            <header class="post-info" data-aos="fade-zoom-in" data-aos-easing="ease-in-out-sine" data-aos-delay="700" data-aos-offset="0">
                <h2 class="post-title">CTD CAFEとは</h2>
            </header>
            <img src="/assets/home-bg3.jpg" alt="イベント" data-aos="fade-zoom-in" data-aos-easing="ease-in-out-sine" data-aos-delay="700" data-aos-offset="0">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima voluptate, esse quo corporis labore eos a laudantium vitae! Nesciunt, veritatis. Voluptatum corrupti nisi distinctio obcaecati eveniet. Consequuntur, autem amet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad deleniti eum ut facilis magnam aperiam esse accusantium ratione, enim iure, voluptas totam hic nam recusandae corrupti doloremque cupiditate! Illum, commodi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, explicabo soluta voluptate omnis nulla ratione illo, nisi quidem ipsum sed voluptates modi atque, necessitatibus officiis error dolorum? Harum, autem nostrum.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto doloribus explicabo sapiente labore fuga at in est, quidem alias voluptatum quos quis, magni doloremque expedita numquam repellendus ea ad optio!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima voluptate, esse quo corporis labore eos a laudantium vitae! Nesciunt, veritatis. Voluptatum corrupti nisi distinctio obcaecati eveniet. Consequuntur, autem amet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem illo nostrum incidunt, laborum unde aliquam officiis, repellat beatae quam ad vel. Laboriosam molestias repellat sed. Eveniet rerum optio nostrum quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla quibusdam distinctio harum, earum et laborum placeat reiciendis totam odit quo aliquam eum fuga sit at animi perferendis ullam doloremque!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate unde nisi quod iusto. Quos, molestiae aut distinctio sapiente sed, deserunt modi perspiciatis quis iste quisquam maiores consequatur, voluptas quaerat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, provident perferendis velit aliquid at ut ea eveniet quod quasi facere dolorem unde porro debitis. Ullam atque accusantium eveniet beatae natus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam asperiores soluta odit eaque atque assumenda dolorum ea totam repellat, sit reiciendis distinctio fuga quo iste dolores rem natus maxime excepturi!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minima voluptate, esse quo corporis labore eos a laudantium vitae! Nesciunt, veritatis. Voluptatum corrupti nisi distinctio obcaecati eveniet. Consequuntur, autem amet.</p>
        </article>

        <aside data-aos="fade-zoom-in" data-aos-easing="ease-in-out-sine" data-aos-delay="700" data-aos-offset="0">
            <h3 class="sub-title">カテゴリー</h3>
            <ul class="sub-menu">
                <li><a href="/boards/show">お店の紹介</a></li>
                <li><a href="/articles">期間限定/新メニュー</a></li>
                <li><a href="#">お客様からの声</a></li>
                <li><a href="#">その他</a></li>
            </ul>

            <h3 class="sub-title">店長コメント</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi aliquid fugit nihil ab? Dolor repudiandae nihil amet veniam dolorum iste minus ea esse recusandae sapiente nam, cumque eos voluptas minima.
            </p>
        </aside>
    </div>

    <div id="pagetop" class="pagetop">
        <a href="#" class="pagetopB">TOP</a>
    </div>

    <footer>
        <div class="wrapper">
            <p><small>&copy; 2020 CTD CAFE</small></p>
        </div>
    </footer>

    <script src="/assets/aos.js"></script>
    <script src="/assets/topbutton.js"></script>
</div>
